<header class="background-bottom-container">
    <pichincha-grid container sm="12">
        <pichincha-grid class="div-start-center " align_items="center" item direction="row" sm="6">
            <pichincha-typography class="margin-title  div-start-center" variant="amountSecondary" color="black" weight="normal" weight_color="900"
                align="inherit">
                {{headerLabels.title}}
            </pichincha-typography>
        </pichincha-grid>
        <pichincha-grid class="div-end-center" align_items="center" item direction="row" sm="6">
            <pichincha-typography class="margin-name" variant="amountSecondary" color="black" weight="normal" weight_color="900"
                align="inherit">
                {{name?.user!.username}}
            </pichincha-typography>
        </pichincha-grid>
    </pichincha-grid>
</header>